<div class="span12">
    <button class="span2 btn btn-success" (click)="addMarckers()">agregar marckers</button>
    <button class="span2 btn btn-warning" (click)="clearMarkers()">Ocultar marckers</button>
    <button class="span2 btn btn-primary" (click)="deleteMarkers()">borrar marckers</button>
    <button class="span2 btn btn-info" (click)="drop()">PLAY</button>
    <button class="span2 btn btn-success" (click)="pauseMarckers()">PAUSE</button>
    <button class="span2 btn btn-danger" (click)="deleteMarkers()">STOP</button>
    <button class="span2 btn btn-primary" (click)="selectMarker(23)">SELECCIONAR</button>
</div>
<agm-map id="start-gmap"
         [latitude]="lat"
         [longitude]="lng"
         [zoom]="14"
         (mapReady)="mapReady($event)"
         (idle)="setBounds()"
         [mapTypeControl]="true"
         [mapTypeControlOptions]="mapOptions"
         [zoomControlOptions]="zoomPosition"
         [streetViewControlOptions]="zoomPosition"
>
    <!--<ng-container *ngFor="let ubication of this.historicDataInMap; let dat = index">-->
        <!--<agm-marker-->
            <!--[latitude]="ubication.latitud"-->
            <!--[longitude]="ubication.longitud"-->
            <!--[visible]="ubication.puntoActivo"-->
            <!--[iconUrl]="iconStateVierwer(ubication, dat)"-->
            <!--(markerClick)="selectedMarckerMap(ubication.movInfoHist, dat)"-->
        <!--&gt;-->
        <!--</agm-marker>-->
    <!--</ng-container>-->
</agm-map>

